* {
  margin: 0;
  padding: 0;
  background-color: #222;
  box-sizing: border-box;
}

#header {
  font-size: 4rem;
  height: 600px;
  color: #fff;
}
#navbar {
  font-size: 2rem;
  float: right;
  margin: 1.6rem;
}
#navbar button {
  text-decoration: none;
  color: wheat;
  border: #333 solid 1rem;
  background-color: #333;
}
#navbar button:hover {
  background-color: #272727;
  border: #272727 solid 1rem;
  color: #d8b187;
}

.container {
  font-size: 1.6rem;
}

.p1 {
  float: left;
}

.p2 {
  float: right;
}

table {
  width: 45%;
  height: 420px;
  background-color: #333;
}
.btn-bingo {
  margin-top: 14rem;
  background-color: #222;
  border: none;
  color: violet;
  padding-left: 1.7rem;
}
.btn-bingo:hover {
  color: #ff61ee;
}
button:hover {
  cursor: pointer;
}
td {
  text-align: center;
  max-width: 1rem;
  padding: 2rem;
  color: purple;
}

span {
  color: rgb(137, 96, 20);
}
.opponent {
  float: right;
  padding-right: 3.9%;
  color: peru;
}
.player {
  color: peru;
  padding-left: 22%;
}

.hidden {
  display: none;
}

.modal,
.modal h2,
.modal button {
  margin: auto;
  background-color: salmon;
  max-width: 20rem;
  text-align: center;
}
.modal button {
  color: black;
  float: right;
  border: none;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.game2 {
  color: #eee;
}

.game2 td {
  padding: 0;
}

.occupied {
  background-color: #eee;
}
.preview {
  padding: 2rem;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}
.tablegame {
  margin: auto;
}
.btn-gameoflife {
  display: block;
  margin: auto;
  font-size: 2rem;
  color: palevioletred;
  border: none;
  padding: 1rem;
}
.game2 button:hover {
  color: rgb(197, 96, 129);
}
